@charset "UTF-8";
/* グレー系 */
/* シアン系 */
@charset "UTF-8";
/* マージン、パディング */
/* フォントサイズ */
/* 行の高さ */
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* マージン、パディング */
/* フォントサイズ */
/* 行の高さ */
/* line 6, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/container.scss */
div#wrapper div#container h1 {
  margin: 0;
  padding: 9px 6px;
  font-size: 16px;
  font-weight: normal;
  background-color: #1a3333;
  color: #eeeeee;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* マージン、パディング */
/* フォントサイズ */
/* 行の高さ */
/* line 4, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/layout.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 9, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/layout.scss */
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #cccccc;
}

/* line 17, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/layout.scss */
header {
  padding: 6px;
  background-color: #448888;
  color: #fafafa;
}
/* line 21, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/layout.scss */
header span.logo-mark {
  font-weight: bold;
}

/* line 25, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/layout.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
}
/* line 31, /home/takei1015/rails/customer_management_app/app/assets/stylesheets/staff/layout.scss */
footer p {
  text-align: center;
  padding: 6px;
  margin: 0;
}
/*

  */
